<table>
    <tr>
        <th>DNI</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Amount</th>
        <th>Approved</th>
        <th>CreateAt</th>
    </tr>
    <tr>
        <td>{{ object.dni }}</td>
        <td>{{ object.firstname }}</td>
        <td>{{ object.lastname }}</td>
        <td>{{ object.gender }}</td>
        <td>{{ object.email }}</td>
        <td>{{ object.amount }}</td>
        <td>{{ object.approved }}</td>
        <td>{{ object.created_time }}</td>
    </tr>
</table>